@model IEnumerable<Item>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    int i = 0;
}



<!--#region Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var item in Model)
                {

                    i++;
                    if (i > 10)
                    {
                        break;
                    }

                    if (item.Photo is null)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="img/categories/cat-1.jpg">
                                <h5><a asp-action="ShopDetails" asp-route-id="@item.Id">@item.Name</a></h5>
                            </div>
                        </div>
                    }
                    else
                    {
                        string photo = "/uploaded-images/" + item.Photo;

                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg=@photo>
                                <h5><a asp-action="ShopDetails" asp-route-id="@item.Id">@item.Name</a></h5>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</section>
<!--#endregion Categories Section End -->
<!--#region Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Produse Recomandate</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".electric">Chitare electrice</li>
                        <li data-filter=".acoustic">Chitare acustice</li>
                        <li data-filter=".bass">Chitare bass</li>
                        <li data-filter=".drums">Tobe</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix electric">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="uploaded-images/0d903462-30f0-464c-af9a-ddae2780ad6e_8656_l.png">
                        <ul class="featured__item__pic__hover">
                            <li><a asp-action="ShopDetails" asp-route-id="10"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a asp-action="ShopDetails" asp-route-id="10">Chitara electrica Epiphone SG Special VE</a></h6>
                        <h5>742.5 RON</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix bass">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="uploaded-images/95902e99-250b-4e80-8265-7669f2185e16_7788_l.png">
                        <ul class="featured__item__pic__hover">
                            <li><a asp-action="ShopDetails" asp-route-id="13"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a asp-action="ShopDetails" asp-route-id="13">Chitara bass Squier Affinity Jazz Bass</a></h6>
                        <h5>1125 RON</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix acoustic">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="uploaded-images/d7bfbe54-835b-4a39-8a04-6f45f365452c_8993_m.png">
                        <ul class="featured__item__pic__hover">
                            <li><a asp-action="ShopDetails" asp-route-id="11"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a asp-action="ShopDetails" asp-route-id="11">Chitara acustica Fender FA-125 Dreadnought</a></h6>
                        <h5>535.5 RON</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix bass">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="uploaded-images/2569b45e-d386-4045-bbd6-6f7364cd3413_5081_l.png">
                        <ul class="featured__item__pic__hover">
                            <li><a asp-action="ShopDetails" asp-route-id="14"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a asp-action="ShopDetails" asp-route-id="14">Chitara bass Jackson JS3 Concert Bass QM</a></h6>
                        <h5>1900 RON</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix electric">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="uploaded-images/157dff89-5060-4371-95ff-3fb1d57c1c7b_6743_l.png">
                        <ul class="featured__item__pic__hover">
                            <li><a asp-action="ShopDetails" asp-route-id="9"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a asp-action="ShopDetails" asp-route-id="9">Chitara electrica Jackson JS11 Dinky</a></h6>
                        <h5>725 RON</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix acoustic">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="uploaded-images/7dc3e79a-6911-4684-bcb7-a8b7514298db_9318_l.png">
                        <ul class="featured__item__pic__hover">
                            <li><a asp-action="ShopDetails" asp-route-id="12"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a asp-action="ShopDetails" asp-route-id="12">Chitara electro-acustica Arrow Silver CE Natural</a></h6>
                        <h5>715.5 RON</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix drums">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="uploaded-images/18d0f66c-2f6b-4370-9bd0-b77557271162_616_l.png">
                        <ul class="featured__item__pic__hover">
                            <li><a asp-action="ShopDetails" asp-route-id="15"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a asp-action="ShopDetails" asp-route-id="15">Set tobe DDrum Defiant 7 Pieces Sparkle Black</a></h6>
                        <h5>3305.7 RON</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix electric">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="uploaded-images/527eb360-0a3b-4563-a473-4119600024be_8713_l.png">
                        <ul class="featured__item__pic__hover">
                            <li><a asp-action="ShopDetails" asp-route-id="8"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a asp-action="ShopDetails" asp-route-id="8">Chitara electrica Squier Bullet Stratocaster HT HSS</a></h6>
                        <h5>531 RON</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--#endregion Featured Section End -->
